*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body{
    font-family: $primary-font;
    font-size: 14px;
}
.custom-button{
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    align-items: center;
    font-weight: 400;
    width: 150px;
    border: 1px solid $primary-color;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    display: inline-block;
    &:hover{
        background-color: transparent;
        color: $primary-color;
    }
    
    button{
                border: 1px solid rgb(255, 255, 255);
                margin: 10px;
                padding: 20px 40px;
                background-color: $primary-color;
                color: #FFFFFF;
                font-family: $primary-font;
                font-weight: 500;
                transition-property: background;
                transition-timing-function: linear;
                transition-duration: 0.5s;
                &:hover{
                    background-color: transparent;
                    font-weight: 500;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                }
                
            }

}
.margin-top{
    margin-block: 100px;
    }
    .container{
        margin-inline: auto;
        padding: 20px 40px;
        max-width: 1200px;
    }
 

  