header {
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 99;

}

nav {
    ul {
        display: flex;
        gap: 20px;

        li {

            font-family: $primary-font;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;

            .submenu {
                position: absolute;
                padding: 10px 10px;
                background-color: rgba(0, 0, 0, 0.6);
                color: rgb(230, 221, 221);
                display: none;
                white-space: nowrap;
            }


            i {
                color: $primary-color;
                font-size: 14px;
                transition: 0.5s;
                margin-inline: 10px;

            }

            &:hover {
                i {
                    transform: rotate(360deg);
                }

                .submenu {
                    display: block;
                    z-index: 2;
                    white-space: nowrap;
                    line-height: 40px;
                }
            }

            &:hover {
                color: $primary-color;
            }

        }
    }
}
.right-content{
@include d-flex;
i{
    font-size: 20px;
}
   .details{
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 600;
    .call{
        a{
            font-family: $primary-font;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
.bar{
    a{
    padding: 10px 10px;
    i{
        font-size: 20px;
    }
    &:hover{
        border-radius: 50%;
        background-color: $primary-color;
    }
    }
}
}